<link href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.22/css/grapes.min.css" rel="stylesheet"/>
<link href="../../css/myStyle.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.22/grapes.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/grapesjs-mjml@0.1.10/dist/grapesjs-mjml.min.js"></script>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>


<div id="gjs">
  <mjml>
    <mj-body>
      <!-- Your MJML body here -->
      <mj-section>
        <mj-column>
          <mj-text>My Company</mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
</div>
<script src="../../js/configureGrape.js"></script>
<script src="../../js/addButtonsBlockManager.js"></script>