<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../css/profile.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<style>
 .content_news {
    margin-left: 82px;
}
.move-left-button {
    margin-left: 13%;
    width: 86%;
    color: white !important;
}
.imagine_news{
  width: 174px;
    height: 166px;
}
.add_news {
    margin-bottom: 100px;
}
</style>



<nav class="navbar navbar-expand-lg  border">
    <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse"  id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign out</a>
      </li>
          </ul>
         </div></div>
       </nav>


<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group list-menu__">
              <a href="#" onclick="showContent(1)" class="list-group-item list-group-item-action active">Dashboard</a>
              <a href="#" onclick="showContent(2)" class="list-group-item list-group-item-action">Option News</a>
              <a href="#" onclick="showContent(3)" class="list-group-item list-group-item-action">Builder</a>
              <a href="#" onclick="showContent(4)"  class="list-group-item list-group-item-action">Send</a>

              
              
            </div> 
		</div>
		<div class="col-md-9" id="menu-1">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Add Account</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Nick Name*</label> 
                                <div class="col-8">
                                  <input id="text" name="text" placeholder="Nick Name" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="select" class="col-4 col-form-label">Display Name public as</label> 
                                <div class="col-8">
                                  <select id="select" name="select" class="custom-select">
                                    <option value="admin">Admin</option>
                                    <option value="admin">User</option>
                                  </select>
                                </div>
                              </div>

 
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Password</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="Password" class="form-control here" type="password">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="password">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Create Profile</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
    </div>
    

		<div class="col-md-9" id="menu-2" >
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                  <h4>Generate News</h4>
                  <hr>
                  <button name="submit" type="submit" class="btn btn-primary">Generate News</button>
                  <hr>
              </div>
          </div>

              <div class="row">
                  <div class="col-md-12">
                      <h4>Options News</h4>
                      <hr>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                        <div class="form-group row">
                          <label for="newpass" class="col-4 col-form-label">Select</label> 
                          <div class="col-8">
                            <input id="news_to_add" name="number" placeholder="Number of News to select" class="form-control here" type="number">
                            <button name="submitSelectNews" type="submit" id="submitSelectNews"  class="btn btn-primary">Select by date</button>
                          </div>
                        </div> 
                            <div class="form-group row">
                              <label for="newpass" class="col-12 col-form-label"><b> Select News That you want to Add</b></label>  
                            </div>
                            <div class="add_news"></div>
                            <div class="form-group row">
                              <div class="offset-4 col-8">
                                <button name="submit"  id="createTemplate-news" class="btn btn-primary">Add News</button>
                              </div>
                            </div>
                     </div>
              </div>
              
              <div class="row">
                <div class="col-md-12" id="appened_data">


                </div>
            </div>
          </div>
      </div>
  </div>
  



  <div class="col-md-9" id="menu-3" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Builder</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
	</div>
</div>

<script src="../js/profile.js"></script>